.button {
	-fx-text-fill: #fff;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-height: 40px;
	-fx-min-height: 40px;
	-fx-pref-height: 40px;
}

 .text-field {
	-fx-pref-height: 40px;
	-fx-min-heihgt: 40px;
	-fx-max-height: 40px;
	-fx-background-radius: 2 0 0 2;
}
.combo-box-base {
	-fx-pref-height: 25px;
	-fx-min-heihgt: 25px;
	-fx-max-height: 25px;
}

.radio-button {
	-fx-text-fill: #fff;
	
	}
