.button {
	-fx-text-fill: #fff;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-height: 40px;
	-fx-min-height: 40px;
	-fx-pref-height: 40px;
}

#btn_assistant {
	-fx-font-size: 17px;
}

#lbl_date , #lbl_week {
	-fx-text-fill: white;
	-fx-font-size: 16px;
}

.text-field {
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
	-fx-max-heght: 40px;
	-fx-background-radius: 2 2 2 2;
}
.combo-box-base {
	-fx-pref-height: 25px;
	-fx-min-height: 25px;
	-fx-max-height: 25px;
}

.results .text-field, .results .combo-box-base, .results .date-picker, .keylines .text-field, .keylines .combo-box-base {
	-fx-pref-height: 30px;
	-fx-min-height: 30px;
	-fx-max-height: 30px;
	
}
.results .button, .keylines .button {
	-fx-font-size: 16px;
	-fx-height: 30px;
	-fx-min-height: 30px;
	-fx-pref-height: 30px;
}

.combo-box-base {
	-fx-prompt-text-fill: #fff;
}

#btn_save {
	-fx-background-color: #2BC158;
}

#btn_delete , #btn_clear {
	-fx-background-color: #DC1B1B;
}


.radio-button {
	-fx-text-fill: #fff;
	
	}
