@font-face {
    font-family: 'Ubuntu';
    src: url('UBUNTU-REGULAR.TTF');
} 
@font-face {
	font-family: 'Roboto';
	src: url(Roboto-Medium.ttf);
}


.root {
	-fx-background-image: url(background.png);
	-fx-background-repeat: repeat;
	/*-fx-base: #24AAD7;*/
	-fx-font-family: Verdana;
	
	
}

.flat-button {
	-fx-background-color: #24AAD7;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	/*-fx-font-family: Roboto-Medium;*/
	/*-fx-font-family: "Roboto";*/
	-fx-font-family: "Ubuntu";
	-fx-font-size: 25px;
	-fx-text-fill: #fff;
	-fx-max-height: 50px;
	-fx-pref-height: 50px;
}

.flat-button-small {
	-fx-pref-width:80px;
	-fx-max-width:80px;
}

.navfirst {
	-fx-border-radius: 5 0 0 5;
  	-fx-background-radius: 5 0 0 5;
}
.navlast {
	-fx-border-radius: 0 5 5 0;
	-fx-background-radius: 0 5 5 0;
}

.button .text {
	-fx-effect: dropshadow( one-pass-box , rgba(100, 100, 100, 0.9) , 0, 0.0 , 0 , 1);
}

.button, .combo-box-base {
	-fx-background-color: #24AAD7;
}
.button:hover, .combo-box-base:hover 
{
	-fx-background-color: #50BBDF;
}

.table-view {
	-fx-background-radius: 2;
	-fx-border-radius: 2;
}
.table-view .column-header {
	-fx-background-color: #24AAD7;
}
.table-view .column-header .label {
	-fx-font-weight: 600;
	-fx-font-size: 14px;
	-fx-font-family: Verdana;
	-fx-text-fill: #fff;
	-fx-effect: dropshadow( one-pass-box , rgba(100, 100, 100, 0.9) , 0, 0.0 , 0 , 1);
}
.scroll-bar .thumb {
	-fx-background-color: #24AAD7;
}

.combo-box{
	-fx-prompt-text-fill: #fff;
}

